{% extends 'base.html.twig' %}

{% block title %}Hello Cheater{% endblock %}

{% block body %}
    <p>Hi cheater ! Unfortunatly, you have to play the game to unlock this stage. Come on, it isn't that long !</p>
{% endblock %}
