.globalDivGap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.globalDivGapRow
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row
{
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}   

@media screen and (max-width : 450px) 
{
    .row
    {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }   
}

.adminInput
{
    border: transparent solid 0.1px !important;
    text-align: center;
    color: var(--basicTextColor );
    border-radius: 0px !important;
    width: 75%;
}