.formGlobal
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    overflow: auto;
}

.formInside
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: var(--formInside);
    border-radius: 15px;
    gap: 1rem;
}

.formRegister /* this is a a form HTML not div ! */
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}
.formRow
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin:0.2rem;
}

.formButton
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.paraForm
{
    margin: 2rem 0 0 0;
}

.login
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.resetPwd
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;
}