.gameGlobalDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.bottomLeft
{
    display: flex;
    padding: 1rem;
}

.textBox
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 180px;
    background-color: var(--textBoxColor);
    backdrop-filter: blur(20px) saturate(150%);
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.5rem;
    max-height: 10rem; /* Adjust to your preferred height */
    overflow-y: scroll;
    position: relative;

}

.textContent
{
    height: 100%;
    scroll-snap-align: start;
    position: relative;
}
.centerTextBox
{
    display: flex;
    justify-content: center;
    position: relative;
}

.leftSpeakerBox
{
    display: flex;

}

.speakerBox
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 12.50%;
    height: 2rem;
    background-color: var(--textBoxColor);
    backdrop-filter: blur(20px) saturate(150%);
    border-radius: 15px;
    position: absolute;
    top: -22%;
    left: 12%;
    align-items: center;
    color: black;
}