
#modal-merchant
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    overflow: auto;
}

.modal-content-merchant
{
    background: linear-gradient(45deg, var(--base-color1), var(--base-color2));
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    gap: 0.5rem;
    border: solid white 1px;
}

.input-number-merchant
{
    color: white;
}

@media screen and (max-width:400px) {
    #modal-inventory
    {
        width: 100%;
        height: 25%;
        left: 0;
        bottom: 0;
        top: unset;
    }

    #modal-merchant
    {
        width: 100%;
        height: 75%;
    }
}

