.heroBanner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.5rem;
    padding: 1rem 0 5rem 0;
    margin: 0 1rem;
    overflow: auto;
}

@media screen and (max-width:200px) {
    .heroBanner {
        /* font-size: 1rem; */
    }
    .titleWithSmall {
        position: unset !important;
    }
}

.bannerImg {
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 8rem;
    left: 10rem;
    opacity: 75%;
}

.titleWithSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 3rem 0;
    position: absolute;
}


/* under Galaxy S8+ dimensions */

@media screen and (max-width: 359px) {
    .titleWithSmall {
        position: inherit;
    }
}

.titleWithSmall>h1 {
    text-align: center;
}

.titleWithSmall>h1>i {
    font-family: 'Charm', cursive !important;
    font-weight: 700;
}

.heroBanner>p,
.titleWithSmall>small {
    font-family: 'Charm', cursive !important;
}

.titleWithSmall>small {
    opacity: 100%;
    color: var(--navbarBg);
    position: relative;
    top: -3rem;
    left: 0;
}

.heroBanner>p {
    padding: 15rem 0 0 0;
    text-align: center;
}

.ouverture {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0.5rem;
    font-size: 1.5rem;
    gap: 1rem;
}

.ouverture>p {
    padding: 0.75rem;
}

.twoCards {
    display: flex;
    gap: 5rem;
    padding: 1rem;
    flex-wrap: nowrap;
}

.forceRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.secondRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.longCard {
    flex-wrap: wrap;
    margin: 5rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: var(--base-noalpha-color1);
    gap: 1.3rem;
}

.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    color: var(--colorForLightBg)
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20rem;
    gap: 1.15rem;
    align-items: center;
}

.cardContent {
    display: flex;
    flex-direction: column;
    background-color: var(--basicTextColor);
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    height: 15rem;
    color: var(--base-color2);
    font-weight: 500;
}

.titleOverCard {
    text-align: center;
    display: flex;
}

.cardSvg {
    height: 100px;
    width: 100px;
}

.elementSvg {
    height: 100px;
    width: 100px;
}

@media screen and (max-width: 1340px) and (min-width :1070px) {
    .ouverture {
        width: 25%;
    }
}

@media screen and (max-width: 1069px) {
    .ouverture {
        width: 100%;
    }
    .forceRow {
        flex-wrap: wrap;
    }
    .twoCards {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .titleWithSmall {
        align-items: center;
    }
    .titleWithSmall>h1 {
        align-items: center;
        padding: 1rem 0 5rem 0;
    }
    .titleWithSmall>small {
        top: -6.5rem;
        margin: 0 0.5rem 0 0.5rem;
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: auto;
    }
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    .heroBanner>p {
        padding: 20rem 0 0 0;
    }
}

@media screen and (max-width: 399px)
/* Iphone SE */

{
    .heroBanner>p {
        padding: 30rem 0 0 0;
    }
}

.rowButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
    flex-wrap: wrap;
}

@media screen and (max-width:350px) {
    .rowButtons {
        flex-direction: column;
        align-items: center;
    }
}