.looksLikeAButtonGrey
{
    display: flex;
    background-color: grey;
    border-radius: 15px;
    padding: 0.5rem;
    width: 7.5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.looksLikeAButtonBlue
{
    display: flex;
    background-color: var(--blueButton);
    border-radius: 15px;
    padding: 0.5rem;
    width: 10rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: gold;
}

.looksLikeAButtonBlack {
    display: flex;
    background-color: var(--blackButton);
    border-radius: 15px;
    padding: 0.5rem;
    width: 7.5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: orange;
    margin: 0.5rem;
    position: relative;

    /* Add transition for smooth glow effect */
    transition: all 0.3s ease-in-out; 
}

/* Add glow effect on hover */
.looksLikeAButtonBlack:hover {
    /* Change color as per your preference */
    box-shadow: 0 0 10px #fff201, 0 0 15px #ff6700; 
}

/* .looksLikeAButtonBlack:hover
{
    backdrop-filter: saturate(200%), blur(15px);
    background-color: var(--blackButtonHover);
    transition: 1s;
} */
