.looksLikeAButtonGrey {
    display: flex;
    background-color: rgba(25, 25, 112, 0.8);
    padding: 1.5rem;
    width: 7.5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 0.5px var(--navbarText);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: gold;
    box-shadow: 0px 0px 0px 0px #FFDB00;
}

.looksLikeAButtonGrey:hover {
    box-shadow: 7px 7px 0px 3px #FFDB00;
}

.looksLikeAButtonBlue
{
    border: 0.25px solid black;
    display: flex;
    background-color: var(--blueButton);
    border-radius: 15px;
    padding: 0.5rem;
    width: 10rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: gold;
    /* lens flare effect */
    position: relative;
}

.looksLikeAButtonBlue::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, azure 0%, rgba(255, 255, 255, 0) 70%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.looksLikeAButtonBlue:hover::before {
    opacity: 0.5;
}

.looksLikeAButtonBlack {
    display: flex;
    background-color: var(--blackButton);
    border-radius: 15px;
    padding: 0.5rem;
    width: 7.5rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: orange;
    margin: 0.5rem;
    position: relative;
    /* Add transition for smooth glow effect */
    transition: all 0.3s ease-in-out; 
}

/* Add glow effect on hover */
.looksLikeAButtonBlack:hover {
    /* Change color as per your preference */
    box-shadow: 0 0 10px #fff201, 0 0 15px #ff6700; 
}

/* .looksLikeAButtonBlack:hover
{
    backdrop-filter: saturate(200%), blur(15px);
    background-color: var(--blackButtonHover);
    transition: 1s;
} */

.looksLikeAButtonViolet
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3.5rem;
    background-color: var(--basicTextColor);
    color: blue;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    /* box-shadow:rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */
    /* box-shadow:rgba(240, 46, 170, 0.4) 0px 0px 0px 5px, rgba(240, 46, 170, 0.3) 0px 0px 0px 10px, rgba(240, 46, 170, 0.2)  0px 0px 0px 15px, rgba(240, 46, 170, 0.1)  0px 0px 0px 20px, rgba(240, 46, 170, 0.05)  0px 0px 0px 25px; */
    transition: all 1s;
    z-index: 2;
    animation: movingshadow linear 3s infinite;
}

@keyframes movingshadow {
    0%{box-shadow: 0;}
    50%{box-shadow:rgba(240, 46, 170, 0.4) 0px 0px 0px 5px, rgba(240, 46, 170, 0.3) 0px 0px 0px 10px, rgba(240, 46, 170, 0.2)  0px 0px 0px 15px, rgba(240, 46, 170, 0.1)  0px 0px 0px 20px, rgba(240, 46, 170, 0.05)  0px 0px 0px 25px;}
    100%{box-shadow: 0;}
}

@keyframes movingshadow2 {
    0%{box-shadow: 0;}
    50%{box-shadow:rgba(240, 46, 170, 0.4) 0px 0px 0px 15px, rgba(240, 46, 170, 0.3) 0px 0px 0px 20px, rgba(240, 46, 170, 0.2)  0px 0px 0px 25px, rgba(240, 46, 170, 0.1)  0px 0px 0px 30px, rgba(240, 46, 170, 0.05)  0px 0px 0px 35px;}
    100%{box-shadow: 0;}
}

.shadow{
    position: absolute;
    border-radius: 50px;
    top: 0;
    z-index: -1;
    background-color: transparent;
}

.looksLikeAButtonViolet:hover + .shadow{
    /* box-shadow:rgba(240, 46, 170, 0.4) 0px 0px 0px 35px, rgba(240, 46, 170, 0.3) 0px 0px 0px 30px, rgba(240, 46, 170, 0.2)  0px 0px 0px 25px, rgba(240, 46, 170, 0.1)  0px 0px 0px 20px, rgba(240, 46, 170, 0.05)  0px 0px 0px 15px; */
    animation: movingshadow2 linear 3s infinite;
}

.looksLikeAButtonViolet:hover {
    scale : 1.2;
}

.specialButton
{
    position: relative;
}


.pixel-corners {
    clip-path: polygon(
      0px calc(100% - 20px),
      4px calc(100% - 20px),
      4px calc(100% - 12px),
      8px calc(100% - 12px),
      8px calc(100% - 8px),
      12px calc(100% - 8px),
      12px calc(100% - 4px),
      20px calc(100% - 4px),
      20px 100%,
      calc(100% - 20px) 100%,
      calc(100% - 20px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 20px),
      100% calc(100% - 20px),
      100% 20px,
      calc(100% - 4px) 20px,
      calc(100% - 4px) 12px,
      calc(100% - 8px) 12px,
      calc(100% - 8px) 8px,
      calc(100% - 12px) 8px,
      calc(100% - 12px) 4px,
      calc(100% - 20px) 4px,
      calc(100% - 20px) 0px,
      20px 0px,
      20px 4px,
      12px 4px,
      12px 8px,
      8px 8px,
      8px 12px,
      4px 12px,
      4px 20px,
      0px 20px
    );
  }
/* .looksLikeAButtonViolet:hover
{
    box-shadow: none;
} */