{% extends 'tos.html.twig' %}
{% block meta %}
    <meta name="description" content="EULA page of Ad Finem Temporis">
    <meta name="keywords" content="EULA,Licence,Game agreement,copyright,GDPR">
{% endblock %}

{% block title %}Hello EulaController!{% endblock %}

{% block body %}
<h1 style="text-align: center;">Terms of Service</h1>

<h2 style="margin: 1rem;">
    ## 1. Introduction
</h2>
<p style="margin: 1rem;">
    Welcome to Ad Temporis Finem ("we", "our", or "us"). By using our website, you agree to these Terms of Service (ToS).
</p>    
<h2 style="margin: 1rem;">
    ## 2. Privacy & Data Protection
</h2>
<p style="margin: 1rem;">
    We are committed to protecting and respecting your privacy. We collect and process your personal data in accordance with our Privacy Policy and in compliance with the relevant data protection Regulation and laws.
</p>
<h2 style="margin: 1rem;">
    ### 2.1 Collection of Personal Data
</h2>    
<p style="margin: 1rem;">
    We collect your username and email address for password recovery purposes. We do not share this information with third parties.
</p>
<h2 style="margin: 1rem;">  
    ### 2.2 Your Rights Under the GDPR
</h2>
<p style="margin: 1rem;">
    Under the General Data Protection Regulation (GDPR), you have:
    
    - The right to request access to, deletion of or correction of, your personal data.
    - The right to complain to a Data Protection Authority about our collection and use of your personal data.
    - The right to data portability.
</p>
<h2 style="margin: 1rem;"> 
    ## 3. User Conduct
</h2>
<p style="margin: 1rem;">
    You agree not to use the website in any way that is unlawful, or harms us or any other person or entity.
</p>
<h2 style="margin: 1rem;"> 
    ## 4. Termination
</h2>
<p style="margin: 1rem;">
    We reserve the right to terminate your use of the website if you violate the ToS or any rules or guidelines posted on the website, or for any other reason in our discretion.
</p>    
<h2 style="margin: 1rem;"> 
    ## 5. Changes to the ToS
</h2>
<p style="margin: 1rem;">
    We reserve the right to change these ToS at any time. Your continued use of the website constitutes your agreement to the updated ToS.
</p>   
<h2 style="margin: 1rem;"> 
    ## 6. Contact Information
</h2>
<p style="margin: 1rem;">
    If you have any questions about these ToS, please contact us at <a href="mailto:contact@atf.com" style="color:red;">contact@atf.com</a>.
</p>    

{% endblock %}
