{% extends 'game.html.twig' %}



{% block title %}Game Hub{% endblock %}

{% block body %}

<div class="flashes gameGlobalDiv">
    {% for message in app.flashes('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
    {% for message in app.flashes('noticeLevel') %}
        <p>{{ message }}</p>
    {% endfor %}
</div>

    <p class="toHide">This is the hub menu</p>
    <a class="toHide" href="{{path('combat')}}">Combat</a>
{% endblock %}

{% block js %}
    <script src="{{ asset("js/hub.js")}}"></script>
{% endblock %}