{% extends 'game.html.twig' %}

{% block title %}The Beginning{% endblock %}

{% block body %}
    <div class="TextDiv gameGlobalDiv">
        <div class="ephemeral">Do you want sound ? </div>
        <button class="ephemeral" id="yesButton">Yes</button>
        <button class="ephemeral" id="noButton">No</button>
    </div>
    <div class="gameGlobalDiv" id="part2">

    </div>
    <div class="gameGlobalDiv" id="part3">

    </div>

    <div class="gameGlobalDiv" id="part4">

    </div>

    <div class="bottomLeft">
        <p id="mute">Mute/unmute</p>
        <input type="range" id="volume" name="volume" min="0" value="25" max="100" step="1"/>
        <label for="volume">Volume</label>
    </div>

{% endblock %}
{% block js %}
        <script src="{{ asset("js/beginning2.js")}}"></script>
{% endblock %}
