
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}
{% block body %}
    <h1 style="text-align: center;">Page not found</h1>

    <p style="text-align: center;">
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('app_home') }}">return to the homepage</a>.
    </p>
{% endblock %}